* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    /* height: 6rem; */
    background-color: #310b0b;
    color: white;
    padding: 1em 4em;


}

header h1 {
    margin-left: .5em;


}

.imagen-logo {

    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid white;
    padding: .4em;
    object-fit: cover;
}

/* nav */

nav {
    color: whitesmoke;
    background-color: #CE3E76;
    font-size: large;
    min-height: 2.5em;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.toggle-nav {
    cursor: pointer;
    margin-left: 1em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}



.nav-list {
    list-style: none;
}

.not-visible {
    display: none;
}

.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    z-index: 1000;
    background-color: #CE3E76;
    width: 100vw;
    overflow: visible;
}


.nav-list a {
    text-decoration: none;
    color: whitesmoke;
    padding: 1em;
    margin: 1em;
    display: block;

}

/* .nav-list a:hover {
    background-color: #a0305b;
} */

.carrito {
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    position: relative;

}

.carrito-cartel {
    position: absolute;
    top: 2.5em;
    color: black;
    right: 0;
    z-index: 800;
    background-color: white;
    width: 80vw;
    border: 1px solid rgba(128, 128, 128, 0.445);
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.678);
    padding: .3em;
    display: flex;
    flex-direction: column;
}

.carrito-cartel .titulo {

    color: #CE3E76;
    border-bottom: 1px solid rgba(128, 128, 128, 0.342);

}


.carrito-cartel .lista-carrito ul {
    list-style: none;
}

.carrito-cartel .lista-carrito li {
    border-bottom: 1px solid rgba(128, 128, 128, 0.342);


}

.carrito-cartel .total {
    border-bottom: 1px solid rgba(128, 128, 128, 0.342);
    align-self: flex-end;
}

.carrito-cartel .total span {
    color: #CE3E76;
    font-size: 1.1em;

}

.carrito-cartel button {
    padding: .3em;
    width: 95%;
    align-self: center;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #CE3E76;
}


.toggle-nav img,
.carrito img {
    height: 70%;
    cursor: pointer;
}


/* home page */
main {
    width: 90%;
    margin: 0 auto;
}

.main-home section {
    border: 1px solid green;
    padding: 1em;
    margin: 1em;
}

.main-home p {
    line-height: 1.5em;
    margin-bottom: 1em;
}

.mapa {
    text-align: center;
    overflow: hidden;
}

.mapa iframe {
    border-radius: 10%;
}

main h2,
main h3 {
    margin: 1em 0;
}


footer {
    background-color: #310b0b;
    height: 2.5rem;
    margin-top: 1.5rem;
}


@media (min-width:600px) {
    header h1 {
        font-size: 2.5em;
    }

    .imagen-logo {
        width: 6rem;
        height: 6rem;
    }

    /* nav */
    nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .toggle-nav {
        display: none;
    }

    .visible,
    .not-visible {
        display: flex;
        width: 100%;
        text-align: center;
        flex-direction: row;
        margin-left: 3em;
    }


    .nav-buttons {
        width: auto;
    }

    .nav-list a {
        padding: 0;
        margin: 0 1em;
        line-height: 2.5em;
        /* border: 1px solid black; */
    }

    .carrito {
        margin-right: 3em;
    }

    .carrito-cartel {
        width: 40vw;
    }
}


@media (min-width:768px) {

    /* .container-productos {
        grid-template-columns: 1fr 1fr 1fr;
        width: 80%;
    } */

    .main-home section {
        /* width: 90%; */
        display: grid;
        grid-template-columns: 1fr 1fr;


    }

    .main-home content {
        /*  */
    }

}

@media (min-width:992px) {
    /* .container-productos {
        grid-template-columns: 1fr 1fr 1fr 1fr;


    } */
}